
:root {
  --text-color: rgb(1, 127, 177);
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-wrap: wrap;
}
#container2 {
  display: flex;
  flex-wrap: wrap;
}

.headphone {
  text-align: center;
  width: 240px;
  height: 320px;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  margin: 10px;
}

img {
  width: 150px;
  height: 170px;
  margin-top: 20px;
}

.text-container {
  height: 70px;
}

p {
  margin: 2px 0 5px 0;
}

button {
  color: var(--text-color);
  font-size: 16px;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  margin: 2px 4px;
  padding: 7px 10px;
}


